<h1><%= @lab.title %></h1>

<p><strong>Description:</strong> <%= @lab.description %></p>
<p><strong>Status:</strong> <%= @lab.status %></p>
<p><strong>Estimate (hours):</strong> <%= @lab.estimate_in_hours %></p>
<p><strong>Time Spent (seconds):</strong> <%= @lab.time_spent_in_seconds %></p>
<p><strong>Date Started:</strong> <%= @lab.date_started %></p>
<p><strong>Date Completed:</strong> <%= @lab.date_completed %></p>

<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %> 